@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
*{


    margin:0vh ;
    
    
    
    
    }
    
    
    nav{
    position: fixed;
    display: flex;
    justify-content: space-around;
    align-items: center;
    top: 2vh;
    
    align-content: center;
left: 5vw;


width: 100vw;
    }
    .left{
    
        font-family: "Bebas Neue", sans-serif;
        font-weight: 1000;
        font-style: bold;
        font-size: 6vw;
        background-color:cyan;
        -webkit-background-clip: text;
        color: transparent;
    }
    ul{
    
    display: flex;
    
    font-size: 1.5vw;
    list-style: none;
    }
    ul li a{
    
    text-decoration: none;
    padding: 2vw;
    
    color: aliceblue;
    
    
    }
    ul li a:hover,.sidemenu ul .close:hover{
    
    background-color: aqua;
    
    color: aliceblue;
    transition: all ease 1s;
    box-shadow: 2vh 3vh 3vh black;
    border-radius: 2vw;
    
    }
    
    .hamburger{
    
    display: none;
    padding: 2vw;
    
    
    
    }
    
    .hamburger:hover{
    transition: all ease 1s;
    background-color: aqua;
    padding: 2vw;
    color: aliceblue;
    
    }
    .sidemenu ul{


display: flex;
flex-direction: column;
padding: 5vw;
gap: 7vw;
font-size: 5vw;
justify-content: center;
align-items: center;
justify-content: flex-start;



background:rgba(1, 1, 1, 0.695);


    }
    .sidemenu ul a,.sidemenu ul li i{


color: aliceblue;

    }
    .sidemenu{
position: absolute;
display: none; 
width: 50vw;
height: 100vh;
top: -1vh;
z-index: 2000;
right: 0vw;

    }
   .sidemenu ul{



height: 100vh;


    }

i{


color: aliceblue;


}
    @media only screen and (max-width: 900px){
    
    .hamburger{
     position: absolute;
    
    display: block;
    left: 75vw;
    top: .3vh;
    }
    .right{
    
    
    display: none;
    
    
    
    
    }
    
    .left{


position: absolute;
top: 1vh;

left: 5vw;

    }
    
    }
body{

background-color: rgb(11, 11, 11);


}