@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
*{


    margin:0vh ;
    
    padding: 0;
    border: 0;
    
    }
    
    .navindex{

position: relative;
z-index: 1000;


    }
    nav{
    position: fixed;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 1000;
    background-color: rgb(11, 11, 11);
    



width: 100vw;
    }
    .left{
    
        font-family: "Bebas Neue", sans-serif;
        font-weight: 1000;
        font-style: bold;
        font-size: 4vw;
        background-color:cyan;
        -webkit-background-clip: text;
        color: transparent;
    }
    ul{
    
    display: flex;
    gap: 1.9vw;
    font-size: 1.2vw;
    list-style: none;
    }
    ul li a{
    
    text-decoration: none;
    padding: 1vw;
    
    color: aliceblue;
    
    
    }
    ul li a:hover,.sidemenu ul .close:hover{
    
    
    
    color: aqua;
    transition: all ease 1s;
    border-bottom: 2px solid aqua;
    animation: hovereffect 1s linear;
    }
    
    .active{

        color: aqua;
        transition: all ease 1s;
        border-bottom: 2px solid aqua;


    }
    .hamburger{
    
    display: none;
    padding: 2vw;
    
    cursor: pointer;
    
    }
    
    .hamburger:hover{
    transition: all ease 1s;
    background-color: aqua;
    padding: 2vw;
    color:aliceblue;
    text-decoration: underline;
    
    }
    .sidemenu ul{


display: flex;
flex-direction: column;
padding: 5vw;
gap: 7vw;
font-size: 3vw;
justify-content: center;
align-items: center;
justify-content: flex-start;



background:rgba(1, 1, 1, 0.695);


    }
    .sidemenu ul a,.sidemenu ul li i{


color: aliceblue;

    }
    .sidemenu{
position: fixed;
display: none; 
width: 50vw;
height: 100vh;
top: -1vh;
z-index: 2000;
right: 0vw;

    }
   .sidemenu ul{


cursor: pointer;
height: 100vh;


    }

i{


color: aliceblue;


}
    @media only screen and (max-width: 900px){
    
    .hamburger{
     position: absolute;
    top: 5vh;
    display: block;
    left: 75vw;
    
    }
    .right{
    
    
    display: none;
    
    
    
    
    }
    nav{
top: -4vh;
height: 4vh;
background-color:  rgb(11, 11, 11);

    }
    .left{


position: absolute;

top: 6vh;
left: 5vw;

    }
    
    }
body{

background-color: rgb(11, 11, 11);


}