*{


    margin:0vh ;
    
    
    
    
    }
    
    
    
    nav{
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    top: 2vh;
    }
    .left{
    
        font-weight: 800;
        font-size: 4vw;
    
        background: linear-gradient(to right,green,red,green);
        -webkit-background-clip: text;
    
        color: transparent;
    }
    ul{
    
    display: flex;
    
    font-size: 1.5vw;
    list-style: none;
    }
    ul li a{
    
    text-decoration: none;
    padding: 2vw;
    
    color: black;
    
    
    }
    ul li a:hover,.sidemenu ul .close:hover{
    
    background-color: aqua;
    
    color: aliceblue;
    transition: all ease 1s;
    box-shadow: 2vh 3vh 3vh black;
    border-radius: 2vw;
    
    }
    
    .hamburger{
    
    display: none;
    padding: 2vw;
    
    
    
    }
    
    .hamburger:hover{
    transition: all ease 1s;
    background-color: aqua;
    padding: 2vw;
    color: aliceblue;
    
    }
    .sidemenu ul{


display: flex;
flex-direction: column;
padding: 5vw;
gap: 7vw;
font-size: 5vw;
justify-content: center;
align-items: center;
justify-content: flex-start;



background:rgba(1, 1, 1, 0.695);


    }
    .sidemenu ul a,.sidemenu ul li i{


color: aliceblue;

    }
    .sidemenu{
position: relative;
display: none; 
width: 50vw;
height: 100vh;
top: -2vh;
z-index: 2000;
right: -50vw;

    }
   .sidemenu ul{



height: 100vh;


    }


    @media only screen and (max-width: 900px){
    
    .hamburger{
    
    
    display: block;
    
    
    }
    .right{
    
    
    display: none;
    
    
    
    
    }
    
    
    
    }
    .left{



position: sticky;



    }